xsd/Drakon.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- Схема описания языка ДРАКОН
     https://ru.wikipedia.org/wiki/ДРАКОН -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://su.ztech/drakon"
            targetNamespace="http://su.ztech/drakon"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">

    <!--#########################################################-->

    <!-- Базовые типы -->
    <xsd:simpleType name="DimensionType">
        <xsd:annotation>
            <xsd:documentation>Размерность</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="mm"/>
            <xsd:enumeration value="cm"/>
            <xsd:enumeration value="px"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="SizeType">
        <xsd:annotation>
            <xsd:documentation>Размер. От 0 до A0 в mm</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:minExclusive value="0"/>
            <xsd:maxInclusive value="1189"/>
            <xsd:fractionDigits value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ImageSizeType">
        <xsd:annotation>
            <xsd:documentation>Размер изображения</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Dimension" type="tns:DimensionType"/>
            <xsd:element name="Width" type="tns:SizeType"/>
            <xsd:element name="Height" type="tns:SizeType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:attribute name="Id" type="xsd:ID">
        <xsd:annotation>
            <xsd:documentation>Идентификатор объекта</xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>

    <xsd:complexType name="IconViewType">
        <xsd:annotation>
            <xsd:documentation>Базовый тип для отображения икон</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="X" type="tns:SizeType">
                <xsd:annotation>
                    <xsd:documentation>Позиция центра элемента по оси X</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Y" type="tns:SizeType">
                <xsd:annotation>
                    <xsd:documentation>Позиция центра элемента по оси Y</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <!-- Размер элемента -->
            <xsd:element name="AxisX" type="tns:SizeType">
                <xsd:annotation>
                    <xsd:documentation>Размер по оси X</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AxisY" type="tns:SizeType">
                <xsd:annotation>
                    <xsd:documentation>Размер по оси Y</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute ref="tns:Id" use="required">
            <xsd:annotation>
                <xsd:documentation>Идентификатор элеманта</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="LineType">
        <xsd:annotation>
            <xsd:documentation>Базовый тип для отбражения вертикальной линии</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="X" type="tns:SizeType">
                <xsd:annotation>
                    <xsd:documentation>Позиция центра элемента по оси X</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Y" type="tns:SizeType">
                <xsd:annotation>
                    <xsd:documentation>Позиция центра элемента по оси Y</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Width" type="tns:SizeType">
                <xsd:annotation>
                    <xsd:documentation>Длина элемента</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute ref="tns:Id" use="required">
            <xsd:annotation>
                <xsd:documentation>Идентификатор элеманта</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="HorizontalLineType">
        <xsd:annotation>
            <xsd:documentation>Базовый тип для отбражения горизонтальной линии.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:LineType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="VerticalLineType">
        <xsd:annotation>
            <xsd:documentation>Базовый тип для отбражения вертикальной линии.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:LineType">
                <xsd:sequence>
                    <xsd:element name="Element" type="tns:ElementRefType" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Список исполняемых элементов</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ArrowLineType">
        <xsd:annotation>
            <xsd:documentation>Базовый тип для отбражения стрелки цикла. (Рисуется c права на лево)</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:LineType">
                <xsd:sequence>
                    <xsd:element name="ReriodRef" type="tns:ElementRefType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Идентификатор на элемент #17 Период.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ElementRefType">
        <xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
    </xsd:complexType>


    <!--#########################################################-->
    <!-- Раздел основных элементов  -->
    <xsd:complexType name="TitleType">
        <xsd:annotation>
            <xsd:documentation>Икона #1. Заголовок</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:IconViewType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="EndType">
        <xsd:annotation>
            <xsd:documentation>Икона #2. Конец</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:IconViewType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ActonType">
        <xsd:annotation>
            <xsd:documentation>Икона #3. Действие</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:IconViewType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="QuestionType">
        <xsd:annotation>
            <xsd:documentation>Икона #4. Вопрос</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:IconViewType">
                <xsd:sequence>
                    <xsd:element name="ShortShideLength" type="tns:SizeType">
                        <xsd:annotation>
                            <xsd:documentation>Размер короткой стороны</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="LianaRef" type="tns:ElementRefType">
                        <xsd:annotation>
                            <xsd:documentation>Горизонтальное ответвление</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SkewerRef" type="tns:ElementRefType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Шампур</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="EndOfQuestionRef" type="tns:ElementRefType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Линия крепления иконы Вопрос</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="LoopArrowRef" type="tns:ElementRefType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Идентификатор объекта. Стрелка цикла</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="LoopArrowType">
        <xsd:annotation>
            <xsd:documentation>Икона #24. Стрелка цикла. </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="HorizontalLineRef" type="tns:ElementRefType" minOccurs="0">
                 <xsd:annotation>
                      <xsd:documentation>Идентификатор горизонтальной линии</xsd:documentation>
                 </xsd:annotation>
            </xsd:element>
            <xsd:element name="VerticalLineRef" type="tns:ElementRefType" minOccurs="0">
                 <xsd:annotation>
                      <xsd:documentation>Идентификатор линии вверх</xsd:documentation>
                 </xsd:annotation>
            </xsd:element>
            <xsd:element name="ArrowLineRef" type="tns:ElementRefType" minOccurs="0">
                 <xsd:annotation>
                      <xsd:documentation>Идентификатор линии влево</xsd:documentation>
                 </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute ref="tns:Id" use="required">
            <xsd:annotation>
                <xsd:documentation>Идентификатор элеманта</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <!--#########################################################-->

    <!--#########################################################-->
    <!-- Типы диаграмм -->
    <xsd:complexType name="SkewerType">
        <xsd:annotation>
            <xsd:documentation>Шампур</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Title" type="tns:ElementRefType">
                <xsd:annotation>
                    <xsd:documentation>У шампура всегда должно быть начало</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="VerticalLine" type="tns:ElementRefType">
                <xsd:annotation>
                    <xsd:documentation>Список исполняемых элементов</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="End" type="tns:ElementRefType">
                <xsd:annotation>
                    <xsd:documentation>У шампура всегда должен быть конец и начало</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SilhouetteType">
        <xsd:annotation>
            <xsd:documentation>Силуэт</xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>
    
    <!-- Общее определение Дракон-Схемы -->
    <xsd:element name="DrakonSchema">
        <xsd:annotation>
            <xsd:documentation>Схема языка Дракон</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <!-- Данные о размере изображения. Размерность изображения задает так же размерность элементов изображения -->
                <xsd:element name="ImageSize" type="tns:ImageSizeType"/>
                <xsd:element name="Elements">
                    <xsd:complexType>
                        <xsd:choice maxOccurs="unbounded">
                            <xsd:element name="Question" type="tns:QuestionType"/>
                            <xsd:element name="Action" type="tns:ActonType"/>
                            <xsd:element name="Title" type="tns:TitleType"/>
                            <xsd:element name="End" type="tns:EndType"/>
                            <xsd:element name="LoopArrow" type="tns:LoopArrowType"/>
                            <xsd:element name="HorizontalLine" type="tns:HorizontalLineType"/>
                            <xsd:element name="VerticalLine" type="tns:VerticalLineType"/>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>
                <xsd:choice>
                    <xsd:element name="Skewer" type="tns:SkewerType"/>
                    <xsd:element name="Silhouette" type="tns:SilhouetteType"/>
                </xsd:choice>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
